@import "tailwindcss";

#photo{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#upload{
    position: relative;
    /* border: 2px solid black; */
    bottom: 25px;
}
#bg{

    background-image: url(./Assets/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#logbg{
    /* border: 2px solid red; */
    background-image: url(./Assets/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

  /* React Cropper Styles */
.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  touch-action: none;
  user-select: none;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cropper-wrap-box {
  overflow: hidden;
}

.cropper-drag-box {
  background-color: #fff;
  opacity: 0;
}

.cropper-modal {
  background-color: #000;
  opacity: 0.5;
}

.cropper-view-box {
  display: block;
  height: 100%;
  outline: 1px solid #39f;
  outline-color: rgba(51, 153, 255, 0.75);
  overflow: hidden;
  width: 100%;
}

.cropper-dashed {
  border: 0 dashed #eee;
  display: block;
  opacity: 0.5;
  position: absolute;
}

.cropper-center {
  display: block;
  height: 0;
  left: 50%;
  opacity: 0.75;
  position: absolute;
  top: 50%;
  width: 0;
}

.cropper-center::before,
.cropper-center::after {
  background-color: #eee;
  content: ' ';
  display: block;
  position: absolute;
}

.cropper-center::before {
  height: 1px;
  left: -3px;
  top: 0;
  width: 7px;
}

.cropper-center::after {
  height: 7px;
  left: 0;
  top: -3px;
  width: 1px;
}

.cropper-face,
.cropper-line,
.cropper-point {
  display: block;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  width: 100%;
}

.cropper-face {
  background-color: #fff;
  left: 0;
  top: 0;
}

.cropper-line {
  background-color: #39f;
}

.cropper-line.line-e {
  cursor: ew-resize;
  right: -3px;
  top: 0;
  width: 5px;
}

.cropper-line.line-n {
  cursor: ns-resize;
  height: 5px;
  left: 0;
  top: -3px;
}

.cropper-line.line-w {
  cursor: ew-resize;
  left: -3px;
  top: 0;
  width: 5px;
}

.cropper-line.line-s {
  bottom: -3px;
  cursor: ns-resize;
  height: 5px;
  left: 0;
}

.cropper-point {
  background-color: #39f;
  height: 5px;
  opacity: 0.75;
  width: 5px;
}

.cropper-point.point-e {
  cursor: ew-resize;
  margin-top: -3px;
  right: -3px;
  top: 50%;
}

.cropper-point.point-n {
  cursor: ns-resize;
  left: 50%;
  margin-left: -3px;
  top: -3px;
}

.cropper-point.point-w {
  cursor: ew-resize;
  left: -3px;
  margin-top: -3px;
  top: 50%;
}

.cropper-point.point-s {
  bottom: -3px;
  cursor: ns-resize;
  left: 50%;
  margin-left: -3px;
}

.cropper-point.point-ne {
  cursor: nesw-resize;
  right: -3px;
  top: -3px;
}

.cropper-point.point-nw {
  cursor: nwse-resize;
  left: -3px;
  top: -3px;
}

.cropper-point.point-sw {
  bottom: -3px;
  cursor: nesw-resize;
  left: -3px;
}

.cropper-point.point-se {
  bottom: -3px;
  cursor: nwse-resize;
  right: -3px;
  height: 20px;
  opacity: 1;
  width: 20px;
}

@media (min-width: 768px) {
  .cropper-point.point-se {
    height: 15px;
    width: 15px;
  }
}

@media (min-width: 992px) {
  .cropper-point.point-se {
    height: 10px;
    width: 10px;
  }
}

@media (min-width: 1200px) {
  .cropper-point.point-se {
    height: 5px;
    opacity: 0.75;
    width: 5px;
  }
}

.cropper-point.point-se::before {
  background-color: #39f;
  bottom: -50%;
  content: ' ';
  display: block;
  height: 200%;
  opacity: 0;
  position: absolute;
  right: -50%;
  width: 200%;
}

.cropper-invisible {
  opacity: 0;
}

.cropper-bg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

.cropper-hide {
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.cropper-hidden {
  display: none !important;
}

.cropper-move {
  cursor: move;
}

.cropper-crop {
  cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
  cursor: not-allowed;
}

/* Additional Custom Styles for Registration Form */
.registration-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

.registration-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(239, 68, 68, 0.3);
}

.registration-button:disabled {
  transform: none;
  box-shadow: none;
}

.profile-avatar {
  transition: all 0.3s ease;
}

.profile-avatar:hover {
  transform: scale(1.05);
}

.cropper-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.cropper-modal-content {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
}


/* ! Home  */
main{
  /* border: 2px solid red; */
  width: 100%;
  /* height: 100vh; */
  /* background-color: orange; */
}
#nav{
  /* border: 2px solid blue; */
  height: 11vh;
  display: flex;
  background-image: linear-gradient(to right, blue, purple);
}
#as1{
  /* border: 2px solid green; */
  flex-basis: 30%;
}
#as1>h1{
  font-weight: 500;
  font-size: 35px;
  margin-left: 30px;
  margin-top: 12px;
  background: linear-gradient(to right, white, gray);
  -webkit-background-clip: text;
  color: transparent;


}
#as2{
  /* border: 2px solid black; */
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchbar>input{
  border: 2px solid white;
  height: 40px;
  width: 30vw;
  border-radius: 10px;
  padding-left: 15px;
  color: white;
}
#as2>i{
  /* border: 1px solid black; */
  position: relative;
  right: 44px;
  height: 35px;
  width: 45px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  place-items: center;
  color: white;
}
#as3{
  /* border: 2px solid purple; */
  flex-basis: 40%;
  display: flex;
  justify-content: end ;
  align-items: center;
  gap: 30px;
}
#as3>div>i{
  font-size: 35px;
  color: white;
}
#as3>div{
  /* border: 2px solid black; */
  /* width: 25vw; */
  display: flex;
  /* justify-content: end; */
  gap: 35px;
  padding-right: 45px;
}
#theme{
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
#theme>i{
  font-size: 20px;
  color: white;

} 

/* ! Archive Messages */
#chats{
  border: 3px solid black;
  border-radius: 10px;
  width: 100%;
  height: 23vh;
  position: relative;
  top: 5px;
  display: flex;
  background-image: repeating-radial-gradient( rgba(0, 0, 255, 0.72),rgba(128, 0, 128, 0.864));
}

#group_mem{
  /* border: 2px solid green; */
  flex-basis: 80%;
  padding-top: 7px;
  gap: 5px;
}
.mem{
  border: 1px solid black;
  height: 50px;
  width: 270px;
  border-radius: 10px;
  position: relative;
  top: 5px;
  left: 5px;
  padding-left: 8px;
  padding-top: 3px;
  display: flex;

}
#profile_img{
  /* border: 2px solid goldenrod; */
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-basis: 16%;
}
#profile_img>img{
  border-radius: 50%;
}
#name_msg{
  flex-basis: 54%;
  /* border: 2px solid blue; */
  height: 40px;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}
#name_msg>h2{
  font-size: 15px;
  font-weight: 500;
}
#name_msg>p{
  font-size: 12px;
  color: gray;
}

#time{
  flex-basis: 30%;
  height: 40px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;

}
#archive_aside{
  /* border: 2px solid blue; */
  flex-basis: 20%;
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-left: 120px;
}
#arch_btn{
  /* border: 2px solid blue; */
  border-radius: 10px;
  padding: 8px 30px;
  font-weight: 600;
  font-size: 18px;
  color: white;
  background-image: linear-gradient(blue,hotpink,purple);
  cursor: pointer;
  
}

/* ! Main Section */
#main_section{
  /* border: 2px solid red; */
  width: 100%;
  height: 66vh;
  position: relative;
  top: 10px;
  display: flex;
  /* background-image: url('./Assets/bg5.jpg'); */
}
#view_profile{
  border: 2px solid black;
  flex-basis: 25%;
}
#profile_card{
  border: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 22vw;
  height: 43vh;
  position: relative;
  left: 16px;
  background-image: linear-gradient(blue,purple);
}
#pro_img{
  /* border: 2px solid purple; */
  height: 85px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}
#pro_img>img{
  border-radius: 50%;
}
#profile_card>h1{
  font-size: 25px;
  font-weight: 600;
  color: white;
}
#profile_card>p{
  font-family: italic;
  color: white;

}
#info{
  /* border: 2px solid blue; */
  display: flex;
  gap: 20px;
  margin-top: 5px;
  color: white;

}
#posts_as{
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#posts_as>h2{
  font-size: 20px;
  font-weight: 600;
}
#followers_as{
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#followers_as>h2{
  font-size: 20px;
  font-weight: 600;
}
#following_as{
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#following_as>h2{
  font-size: 20px;
  font-weight: 600;
}
#btn_div{
  /* border: 2px solid gray; */
  margin-top: 25px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #39f;
  color: white;
  cursor: pointer;
}

/* !!! */
#post1{
  border: 2px solid green;
  display: flex;
  height: 10vh;
}
#post_img{
  /* border: 2px solid red; */
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 15px;
  top: 20px;
  flex-basis: 15%;
}
#post_img>img{
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
#post_name_time{
  flex-basis: 85%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;

}











#posts{
  border: 2px solid blue;
  flex-basis: 50%;

}
#suggestions{
  border: 2px solid orchid;
  flex-basis: 25%;

}